body{
	padding: 0px;
	margin: 0px;
	border: 1px solid #000;
}
#header{
	width: 100%;
	height: 100px;
}
.logo-L{
	height: 100px;
	width: 30%;
	background: #ff66cc;
	float: left;
	border: 1px solid #000;
}
.logo-R{
	height: 100px;
	width: 69.7%;
	background: #ff6611;
	float: left;
	border: 1px solid #000;
}
#main{
	height: 850px;
	width: 100%;
	border: 1px solid #000;
	background: #ccc;
	position: relative;
}
.menu{
	width: 100%;
	height: 50px;
	border: 1px solid #000;
}
.menu ul{
	float: left;
	margin: 0px;
	padding: 0px;
}
.menu ul li a{
	text-decoration: none;
	font-size: 14px;
	text-align: center;
	display: block;
	line-height: 50px;
	color: #000;	
}
.menu ul li{
		float: left;
		height: 50px;
		width: 222px;
		border: 1px solid #000;
		list-style: none;
}
.LE{
	height: 800px;
	width: 20%;
	background: #ff6600;
	float: left;
}
.MID{
	height: 800px;
	width: 60%;
	background: #ff44;
	float: left;
}
.RI{
	height: 800px;
	width: 20%;
	background: #ff6688;
	float: left;
}
#form-id label{
	display:block;
	margin-top: 20px;
	margin-left: 200px;
	width: 350px;
}
#form-id label input{
float: right;
}
#validation label {float:left;width:100%;}
	.error {color:#F00;}
#footer{
	height: 50px;
	width: 100%;
}
.M{
	display: none;
}
